// modal.less
.okButton {
  background-color: #13C2C2;
  border-color: #13C2C2;
}

.okButton:hover,
.okButton:focus {
  background-color: #13C2C2!important;
  border-color: #13C2C2!important;
}

.cancelButton:hover,
.cancelButton:focus {
  color: #13C2C2!important;
  border-color: #13C2C2!important;
}
